version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: crm-db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3310:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  minio:
    image: quay.io/minio/minio:latest
    container_name: crm-bucket
    command: server /data --console-address ":9090"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./minio-data:/data
    ports:
      - "9001:9000"
      - "9090:9090"
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crm-delice
    depends_on:
      - mysql
      - minio
    ports:
      - "8081:8080"
    env_file:
      - .env
    environment:
      COOKIE_NAME: ${COOKIE_NAME}
      DB_CLASSNAME: ${DB_CLASSNAME}
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: ${DB_PORT}
      DB_PROTOCOL: ${DB_PROTOCOL}
      DB_USER: ${DB_USER}
      ISSUER: ${ISSUER}
      MAIL_FROM: ${MAIL_FROM}
      SECRET_KEY: ${SECRET_KEY}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network: